@import "_variables";
html, body{
  height: 100%;
  font-family: Arial, Helvetica, sans-serif
}
body{padding:0;margin: 0}
.viewFramework-topbar{
  height:var(--topbarHeight);
  width:100%;
  background: var(--colorA);
  position:fixed;
  top:0;
  left:0;
  
}
.viewFramework-body{
  position:fixed;
  top:var(--topbarHeight);
  bottom:0;
  left:0;
  right:0;
  display:flex;
}
.viewFramework-sidebar{
  width:var(--sidebarWidth);
  min-width: var(--sidebarWidth);
}
.viewFramework-sidebar{
  /*如果以后需要收缩侧边栏，扩展这个class*/
}
.viewFramework-product{
  flex:1;
  min-width: 50rem;
  overflow: auto;
  word-wrap: break-word;
}